<!DOCTYPE html>
<html layout:decorate="layouts/defaultLayout.html" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div class="container my-5" layout:fragment="content">

    <div th:if="${films.isEmpty()}">
        Вы еще не оценили ни один фильм!
    </div>
    <div th:if="${!films.isEmpty()}">
        <h2 style="text-align:center;">Рекомендованные вам фильмы!</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th scope="col">Название</th>
                <th scope="col">Описание</th>
                <th scope="col">Жанр</th>
                <th scope="col">Длительность(мин.)</th>
                <th scope="col">Дата выхода</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="film : ${films}">
                <td scope="row"><img alt="" th:src="*{'data:image/jpeg;base64,'+{film.image}}"
                                     style="width: 150px;height: 200px;" src=""></td>
                <td th:text="${film.name}">Название</td>
                <td th:text="${film.description}">Описание</td>
                <td th:text="${film.genre.name}">Жанр</td>
                <td th:text="${film.duration}">Длительность(мин.)</td>
                <td th:text="${film.releaseDate}">Дата выхода</td>
                <td>
                    <form action="#" method="get" th:action="@{/getFilm}" th:object="${filmDto}">
                        <input name="id" type="hidden" th:value="${film.id}">
                        <button class="btn btn-secondary" type="submit">Обсудить</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
